@model List<employee>
@{
    Layout = "~/views/shared/layoutpage.cshtml";
}

@section body

{

    <form method="post" >
        <span id="s" > Welcome To HR System </span>
        <div class="container" style="width: 975px; position: fixed; margin-top: 20px;">
            <div class=" row" style="margin-top:20px">

                <div class="col-xs-2">

                    <span>First Name</span>

                </div>
                <div class="col-xs-4">

                    <input type="text" name="txtfirstname" />

                </div>

                <div class="col-xs-2">

                    <input type="submit" value="search" class="btn btn-primary" asp-action="search" />

                </div>

            </div>



            <div class="row" style="margin-top:20px">

                <table class=" table  table-hover ">
                    <thead>
                        <tr>
                            <th> Image </th>
                            <th>First Name </th>
                            <th> Last Name</th>
                            <th> Phone </th>
                            <th> Salary</th>
                            <th>option</th>

                        </tr>

                    </thead>
                    <tbody>


                        @foreach (employee item in Model)

                        {
                        <tr>
                            <td style="width: 10px;"><img src="~/StaticFiles/@item.path" style="width:30px" /> </td>
                            <td>@item.firstname </td>
                            <td>@item.lastname</td>
                            <td>@item.phone </td>
                            <td>@item.salary</td>
                            <td>

                                <input type="submit" class="btn btn-success" value="edit" asp-controller="employee" asp-action="edit" asp-route-id="@item.id" />
                                <input type="submit" class="btn btn-danger" value="delete" asp-action="delete" asp-route-id="@item.id" />

                            </td>
                        </tr>
                        }

                    </tbody>

                </table>




            </div>




        </div>
    </form>
}

